// @charset 'UTF-8';

@use "vendor/normalize";
// @use "abstracts";
// @use "base";
// @use "components";
// @use "layout";
// @use "pages";
// @use "themes";

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Roboto:wght@400;700&family=Six+Caps&display=swap");

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 4rem;
  background-color: lightgray;
  background-image: url("../assets/images/bw-bg-sm2.jpg");
  background-size: cover;
  background-position: center;
  font-size: 2rem;
  line-height: 1.5;
}

.wrapper {
  width: fit-content;
  margin: 40vh auto auto;
  padding: 3rem 2rem 3rem;
  background: rgba(255, 255, 255, 0.75);

  background-image: url("../assets/images/beer1.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.05);
  text-align: center;
  color: white;
}

.brewery {
  font-size: 3rem;
  font-weight: 900;
}

button {
  padding: 1rem;
  background: rgb(192, 151, 97);
  box-shadow: inset 0px 1px 0px 0px rgb(172, 135, 87);
  border: 1px solid rgb(192, 151, 97);
  outline: none;
  font-weight: 600;
  font-size: 2rem;
  text-shadow: 0 1px 0px rgb(160, 115, 57);

  &:hover {
    background-color: rgb(168, 128, 75);
  }

  &:active {
    background: rgb(139, 104, 58);
    border-color: rgb(139, 104, 58);
  }
}
